.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.mainContainer {
    background-color: white;
    min-height: 25rem;
    border-radius: var(--border-radius);
    padding: 0 2rem;
}
  
.header {
  font-size: 2.5rem; 
  text-align: center;
}
  
.form {
  display: flex;
  flex-direction: column;
}
  
.textInput {
  margin-bottom: 1rem;
  padding: .3rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: none;
}
  
.label {
  margin-bottom: .2rem;
  font-size: 1.2rem;
  color: var(--font-color);
}
  
.btn {
  padding: .5rem;
  border-radius: var(--border-radius);
  width: 5rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--brand-color);
  color: white;
  border: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
  background-color: grey;
  cursor: default;
}

.btn:hover:disabled {
  cursor: default;
}
  
.errorMessage {
  position: relative;
  color: rgb(255, 57, 57);
  margin-bottom: 1rem;
  bottom: .7rem;
}